body{
    max-width: 1270px;
    background-color: bisque;
    margin: 0 auto;
}
.hero-container{
    display: flex;
    gap: 30px;
    align-items: center;
    background-color: aquamarine;
    padding: 25px;
    border-radius: 15-x;
    font-size: 2em;

}
.hero-container img{
    width: 100%;
    height: 300px;
}
.hero-container button {
    background-color: lightcoral;
    padding: 10px 30px;
    font-size: 1.1em;
    border-radius: 10px;
    cursor: pointer;
}
