nav li {
    list-style: none;
    display: inline;  /* list gula ek line e boshbe */
    margin-right: 20px;
    
}

nav li:hover{
    background-color: bisque;
}

nav il a{
    text-decoration: none;
}
footer{
    text-align: center;
}

